#base {
background: #ffe4e1;
padding: 1px;
padding-left: 5px;
float: left;
border: 2px solid purple;
}
body {
background-image: url('image/bomba.jpeg');
background-repeat: repeat;
}
#addevent{
width: 200px;
background: #ffe4e1;
margin: 5px;
border: 1px dotted red;
padding:7px;
}
#index{
width: 400px;
background: #ffe4e1;
padding: 1px;
padding-left: 5px;
}
#name{
width: 200px;
background: #ffe4e1;
}
#file{
background: #ffe4e1;
}
#des{
background: #ffe4e1;
}
#editevent{
padding: 2px;
padding-left: 5px;
width: 500px;
background: #ffe4e1;
}
#event{
width: 500px;
background: #ffe4e1;
}
#eventlist{
background: #ffe4e1;
}
#activ{
background: #ffe4e1;
}









